# Dependencies
node_modules/
.npm
package-lock.json  

# Tests et couverture
coverage/
.nyc_output/

# Configuration
config.js
config/*.js
*.config.js

# Environnement
.env
.env*.local



# Système
.DS_Store

# Docker / fichiers spécifiques
Dockerfile
*.mdv
